:local .container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

:local .animationField {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
}

:local .animationContent {
  display: flex;
  flex-direction: column;
}

:local .animationContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
  background: var(--primaryLight);
  border-left: 2px solid var(--primaryDark);
}

:local .animationContainer label {
  font-size: 12px;
}


:local input {
  margin: 10px 0px;
}
