

:local .entityPanelContainer {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--primaryDark);
  background: var(--primaryLight);
  padding: 10px;
}

:local .field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:local .field button {
  max-height: 30px;
}

