:local .container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

:local .modelViewerContainer {
  display: flex; 
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

:local .modelViewerContainer canvas {
  border: 2px solid #d9ecf2;
}

:local input {
  margin: 10px 0px;
}
