:local .container {
  display: flex;
  margin-top: 10px;
}

:local .grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px inset;
  padding: 10px;
}

:local .headerText {
  margin-bottom: 20px;
  padding: 5px 0;
}

:local .assetSettingsContainer {
  display: flex;
  flex-direction: column;
}

:local .assetConfigurationContent {
  display: flex;
  flex-direction: column;
}

:local .childrenContainer {
  display: flex;
  flex-direction: column;
}

:local .childrenContent {
  display: flex;
  flex-direction: column;
}

:local .container label {
  margin-bottom: 10px;
}

:local .container input {
  padding: 5px;
  margin-bottom: 20px;
}

:local .submitButton {
  padding: 5px;

}
